
h2{
  font-size: 1rem;
}

.coin-detail{
  position: relative;
  padding: 3rem;
  background-color: rgb(40,40,48);
  border-radius: 2rem;
}

.coin-detail .head-wrap{
  position: relative;
  width: 100%;
}

.coin-detail .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .1rem;
  background-color: rgb(40, 40, 48);
}

.coin-detail .head.scroll{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.coin-detail .head .name{
  color: #fff;
  font-size: 2rem;
  margin: 0;
}

.coin-detail .head .info{
  display: flex;
  color: rgb(116,114,125);
  justify-content: space-between;
  text-align: right;
  font-size: 0.9rem;
  width: 60%;
}

@media screen and (max-width: 700px) {
  .coin-detail .head .info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}


.coin-detail .head .info span{
  display: block
}

.coin-detail .head .info .number {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.coin-detail .head .info .number {
  color: rgb(108,153,94);
}

.coin-detail .head .info .minus .number {
  color: rgb(143, 68, 68);
}

.coin-detail .graph-wrap{
  position: relative;
  
  border: 1px solid rgb(52, 49, 66);
  border-radius: 2rem;
}
.coin-detail .graph-wrap .chart-option{
  position: absolute;
  top: 20px;
  left: 30px;
}

.coin-detail .graph-wrap .chart-option button{
  color: #fff;
  font-weight: 700;
  border-color: #fff;
  background-color: black;
}
.coin-detail .search-form{
  color: #fff;
  width: 150px;
}

.coin-detail .search-form input{
  color: #fff;
}
