.coin-detail .graph-wrap {
  position: relative;
  background-color: rgb(26, 31, 35);
  border: 1px solid rgb(52, 49, 66);
  border-radius: 2rem;
}


.chart{
  z-index: 1;
}

.tick{
  color: #fff;
}

.tick text {
  font-weight: 700;
}

.tick line{
  stroke: rgba(114, 104, 104, 0.26);
  
}