

.MuiBox-root .content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 520px) {
  .MuiBox-root .content {
    width: 95%;
  }
}

@media screen and (min-width:521px) and (max-width: 1025px) {
  .MuiBox-root .content {
    width: 95%;
  }
}

@media screen and (min-width:1025px) {
  .MuiBox-root .content {
    width: 1360px;
  }
}

.user-info{
  display: flex;
  align-items: center;
}