


@media screen and (max-width: 520px) {
  .App {
    width: 100%;
  }
}

@media screen and (min-width:520px) and (max-width: 1400px) {
  .App {
    width: 100%;
  }
}

@media screen and (min-width:1400px){
  .App {
    width: 1360px;
    margin: 0 auto;
  }
}



